*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 132px;
}

.message {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}
