*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 132px;
}

.message {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.caption {
  margin-top: 20px;
  font-size: 0.9rem;
  opacity: 0.7;

  & code {
    background: #f1f4f5;
    border-radius: 6px;
    padding: 2px 4px;
  }
}
